<html>
<head></head>
<body>
  <div style="max-width: 855px; margin: 27px auto;">
    <table width="100%" style="
      background: url(https://s3.us-east-2.amazonaws.com/homecaptainstaging/EmailHeader.png);
      background-repeat: no-repeat;
      background-size: 100% 208px;">
      <tr>
        <td style="width: 50%; vertical-align: top;">
          <table style="margin-left: 23px">
            <tr>
              <td style="padding-top: 30px">
                <img
                  src="https://s3.us-east-2.amazonaws.com/homecaptainstaging/EmailHeaderHomeCaptainLogo.png"
                  style="width: 43px;"
                />
              </td>
            </tr>
            <tr>
              <td style="padding-top: 18px">
                <span style="font-size: 20px; color: white; line-height: 30px;">
                  Manuel, Status Update Needed <br>for Our Mutual Client
                </span>
              </td>
            </tr>
          </table>
        </td>
        <td style="float: right; padding: 19px 61px 0 0;">
          <img
            src="https://s3.us-east-2.amazonaws.com/homecaptainstaging/EmailHeaderHome.png"
          />
        </td>
      </tr>
    </table>
    <div style="font-size: 16px; color: #313f52; line-height: 30px; margin: 46px 60px 127px 38px;">
	
	{% block body %}{% endblock %}
	
	<i>At HomeCaptain we help guide you through one of the largest transactions in your life, buying or selling a home.</i>?
    </div>
    <table style="margin-left: 15px">
      <tr>
        <td>
          <img
            src="https://s3.us-east-2.amazonaws.com/homecaptainstaging/user-avatar_1.jpg"
            style="width: 78px; height: 78px; border-radius: 50%; border: 4px solid #fff; background-color: #ebebeb; box-shadow: 5px 10px 30px rgba(0,0,0,0.2);"
          />
        </td>
        <td style="padding-left: 18px">
          <div style="font-size: 16px; color: #313f52; line-height: 26px; ">
            Sincerely,<br>
            <strong>Clarence Fletcher</strong><br>
            Home Captain
          </div>
        </td>
        <td style="padding-left: 18px;">
          <div style="
            width: 105px;
            height: 38px;
            border-radius: 5px;
            background-color: #2c71c7;
            box-shadow: 0px 20px 30px -5px rgba(44,113,199,0.4);
            cursor: pointer;">
            <table style="width: 100%; height: 100%;">
              <tr>
                <td style="text-align: center;">
                  <span style="font-size: 12px;
                    color: white;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 2px;">
                    Contact
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
